.App {
}
.container {
  width: 60vw;
  margin: 0 auto;
}
.header {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1.5rem 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 2rem;
  font-weight: 600;
}
.header__actions {
}
.header__connect-button {
  display: inline-block;
  padding: 0.7rem;
  border: none;
  outline: none;
  background: var(--secondary);
  color: var(--primary);
  font-weight: 500;
  border-radius: 0.4rem;
  box-shadow: var(--shadow);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header__connect-button:active {
  box-shadow: none;
}
.todo .container {
  width: 40vw;
}
.todo__creation {
  box-shadow: var(--shadow);
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  margin: 2rem auto;
}
.todo__field {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  border: 0.1rem solid #999;
  border-radius: 0.2rem;
  outline: none;
}
.todo__form {
}
.todo__list {
}
.todo__list-item {
  box-shadow: var(--shadow);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__show {
}
.todo__submit {
  display: inline-block;
  padding: 0.7rem;
  border: none;
  outline: none;
  background: var(--primary);
  color: var(--secondary);
  font-weight: 500;
  border-radius: 0.4rem;
  box-shadow: var(--shadow);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}
.todo__submit:active {
  box-shadow: none;
}
.todo__text {
  display: flex;
  flex-direction: column;
}
.todo__text-top {
  color: var(--primary);
  font-weight: 500;
}
.todo__text-bottom {
  color: #666;
  font-weight: 400;
  font-size: 1.1rem;
}
.todo__actions {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__button {
  display: inline-block;
  padding: 0.4rem;
  border: none;
  outline: none;
  background: var(--primary);
  color: var(--secondary);
  font-weight: 500;
  border-radius: 0.4rem;
  box-shadow: var(--shadow);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 47%;
}

.todo__button:active {
  box-shadow: none;
}
